body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1668px;
  height:938px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1668px;
  height:938px;
}
#u2 {
  position:absolute;
  left:2px;
  top:461px;
  width:1664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:209px;
}
#u3 {
  position:absolute;
  left:-15px;
  top:420px;
  width:660px;
  height:209px;
}
#u4 {
  position:absolute;
  left:2px;
  top:96px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:278px;
}
#u5 {
  position:absolute;
  left:1154px;
  top:399px;
  width:382px;
  height:278px;
}
#u6 {
  position:absolute;
  left:2px;
  top:131px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:281px;
}
#u7 {
  position:absolute;
  left:933px;
  top:614px;
  width:498px;
  height:281px;
}
#u8 {
  position:absolute;
  left:2px;
  top:132px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:514px;
}
#u9 {
  position:absolute;
  left:457px;
  top:344px;
  width:571px;
  height:514px;
}
#u10 {
  position:absolute;
  left:2px;
  top:249px;
  width:567px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:266px;
}
#u11 {
  position:absolute;
  left:382px;
  top:513px;
  width:266px;
  height:266px;
}
#u12 {
  position:absolute;
  left:2px;
  top:125px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u13 {
  position:absolute;
  left:85px;
  top:14px;
  width:121px;
  height:101px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:24px;
}
#u15 {
  position:absolute;
  left:502px;
  top:36px;
  width:890px;
  height:24px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u17 {
  position:absolute;
  left:482px;
  top:60px;
  width:136px;
  height:35px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
