.background {
    background-image: url('../../images/藏书阁/element/藏书阁界面.png'); /* 设置背景图片 */
    background-size: cover; /* 让图片覆盖整个div */
    background-position: center; /* 图片居中 */
    background-repeat: no-repeat; /* 图片不重复 */
    position: absolute;
    top: 170px;
    width:1255px;
    left: 50%;
    transform: translateX(-50%);
    height: 821px; /* 假设 background 的高度 */
    position: relative; /* 使内部元素可以相对于它定位 */
}

.leftpg {
    position: absolute;
    left: 119px;
    top: 158px;
    width: 463px;
    height: 530px;
    overflow: auto;
    overflow: auto;
    scrollbar-width: none;
}

.rightpg {
    position: absolute;
    right: 119px; /* 相对于 background 的右边 */
    top: 158px;
    width: 463px;
    height: 530px;
    overflow: auto; /* 允许滚动 */
    scrollbar-width: none; /* 隐藏滚动条 */
}

body{
    background-image: url("../../images/藏书阁/u241.jpg");
    background-size: cover;
}
a{
    text-decoration:none;
}

#txt{
    position: absolute;
    top: 15%;
    bottom: 25%;
    left: 0;
    right: 0;
    /*border:1px solid black;*/
}
.textta{
    font-family: cursive;
    position: relative;
    text-align: center;
    margin: 1%;
    font-size:34px;
}
.textp{
    font-family: cursive;
    font-size: large;
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 28px;
}
.text1_{
    font-family: cursive;
    position: relative;
    text-align: left;
    margin: 1%;
    font-size: 26px;
}
.text2{
    font-family: cursive;
    position: relative;
    text-align: left;
    margin: 0;
    font-size: 30px;
}
.text2_{
    font-family: cursive;
    text-indent: 2em;
    position: relative;
    text-align: start;
    margin: 0;
    font-size: 27px;
}
.text3{
    font-family: cursive;
    text-indent: 2em;
    position: relative;
    text-align: start;
    margin:0;
    font-size: 25px;
}
.text3_{
    font-family: cursive;
    position: relative;
    text-align: start;
    margin: 0;
    font-size: 27px;
}
.image-container {
    position: relative;
    width: 450px; /* 设置容器宽度，可根据需要调整 */
    height: auto; /* 保持容器高度自适应 */
}

.image {
    display: block; /* 去除图片的默认间距 */
    width: 100%;
    max-width: 450px; /* 设置图片最大宽度 */
    height: auto; /* 保持图片宽高比例 */
    margin: 0 auto; /* 水平居中图片 */
}
.link:hover{
    color:gray;
}
.link{
    color:#333;
    font-family: cursive;
}
.mulu{
    color:#333;
    font-family: cursive;
    font-size: 30px;
}


.catalogue:hover{
    color:gray;
}
.catalogue{
    color:#333;
    font-family: cursive;
    font-size: 34px;
    position: relative;
    text-align: center;
    margin: 0;
}

.back:hover{
    color:gray;
}
.back{
    color:#333;
    font-family: cursive;
    font-size: x-large;
    position: absolute;
    bottom: 0;
    right:0;
    margin: 0;
}