.background {
    background-image: url('../../images/藏书阁/element/藏书阁界面.png'); /* 设置背景图片 */
    background-size: cover; /* 让图片覆盖整个div */
    background-position: center; /* 图片居中 */
    background-repeat: no-repeat; /* 图片不重复 */
    position: absolute;
    top: 200px;
    width:1100px;
    left: 50%;
    transform: translateX(-50%);
    height: 725px; /* 假设 background 的高度 */
    position: relative; /* 使内部元素可以相对于它定位 */
}

.leftpg {
    position: absolute;
    left: 120px; /* 相对于 background 的左边 */
    top: 130px;
    width: 370px;
    height: 500px;
    overflow: auto;
    overflow: auto; /* 允许滚动 */
    scrollbar-width: none; /* 隐藏滚动条 */
}

.rightpg {
    position: absolute;
    right: 80px; /* 相对于 background 的右边 */
    top: 130px;
    width: 410px;
    height: 500px;
    overflow: auto; /* 允许滚动 */
    scrollbar-width: none; /* 隐藏滚动条 */
}

body{
    background-image: url("../../images/藏书阁/u241.jpg");
    background-size: cover;
}
a{
    text-decoration:none;
}

#txt{
    position: absolute;
    top: 15%;
    bottom: 25%;
    left: 0;
    right: 0;
    /*border:1px solid black;*/
}
.textta{
    font-family: cursive;
    position: relative;
    text-align: center;
    margin: 1%;
    font-size:29px;
}
.textp{
    font-family: cursive;
    font-size: large;
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 23px;
}
.text1_{
    font-family: cursive;
    position: relative;
    text-align: left;
    margin: 1%;
    font-size: 21px;
}
.text2{
    font-family: cursive;
    position: relative;
    text-align: left;
    margin: 0;
    font-size: 25px;
}
.text2_{
    font-family: cursive;
    text-indent: 2em;
    position: relative;
    text-align: start;
    margin: 0;
    font-size: 21px;
}
.text3{
    font-family: cursive;
    text-indent: 2em;
    position: relative;
    text-align: start;
    margin:0;
    font-size: 19px;
}
.image{
    position: absolute;
    max-width: 400px;
    height: auto;
}
.link:hover{
    color:gray;
}
.link{
    color:#333;
    font-family: cursive;
}
.mulu{
    color:#333;
    font-family: cursive;
    font-size: 20px;
}