body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u75 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:477px;
  top:275px;
  width:300px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u78 {
  position:absolute;
  left:714px;
  top:108px;
  width:136px;
  height:35px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u80 {
  position:absolute;
  left:350px;
  top:57px;
  width:150px;
  height:61px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u82 {
  position:absolute;
  left:528px;
  top:57px;
  width:150px;
  height:61px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u83 {
  position:absolute;
  left:2px;
  top:-10px;
  width:146px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u84 {
  position:absolute;
  left:706px;
  top:57px;
  width:150px;
  height:61px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u86 {
  position:absolute;
  left:884px;
  top:57px;
  width:150px;
  height:61px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u88 {
  position:absolute;
  left:1062px;
  top:57px;
  width:150px;
  height:61px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u90 {
  position:absolute;
  left:1240px;
  top:57px;
  width:150px;
  height:61px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u92 {
  position:absolute;
  left:1420px;
  top:57px;
  width:150px;
  height:61px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:164px;
}
#u94 {
  position:absolute;
  left:72px;
  top:30px;
  width:230px;
  height:164px;
}
#u95 {
  position:absolute;
  left:2px;
  top:74px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:473px;
}
#u96 {
  position:absolute;
  left:1666px;
  top:303px;
  width:146px;
  height:473px;
}
#u97 {
  position:absolute;
  left:2px;
  top:228px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:721px;
}
#u98 {
  position:absolute;
  left:320px;
  top:247px;
  width:1280px;
  height:720px;
}
#u99 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#two {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
}
#u102 {
  position:absolute;
  left:52px;
  top:414px;
  width:230px;
  height:64px;
  font-size:32px;
}
#u103 {
  position:absolute;
  left:2px;
  top:24px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u104 {
  position:absolute;
  left:118px;
  top:427px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#one {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
}
#u107 {
  position:absolute;
  left:51px;
  top:250px;
  width:230px;
  height:64px;
  font-size:32px;
}
#u108 {
  position:absolute;
  left:2px;
  top:24px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u109 {
  position:absolute;
  left:118px;
  top:264px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#three {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
}
#u112 {
  position:absolute;
  left:52px;
  top:576px;
  width:230px;
  height:64px;
  font-size:32px;
}
#u113 {
  position:absolute;
  left:2px;
  top:24px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u114 {
  position:absolute;
  left:118px;
  top:590px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#four {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
}
#u117 {
  position:absolute;
  left:51px;
  top:740px;
  width:230px;
  height:64px;
  font-size:32px;
}
#u118 {
  position:absolute;
  left:2px;
  top:24px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u119 {
  position:absolute;
  left:117px;
  top:753px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#five {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
}
#u122 {
  position:absolute;
  left:51px;
  top:901px;
  width:230px;
  height:64px;
  font-size:32px;
}
#u123 {
  position:absolute;
  left:2px;
  top:24px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u124 {
  position:absolute;
  left:118px;
  top:915px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#continue-button {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
}
#u128 {
  position:absolute;
  left:1330px;
  top:988px;
  width:230px;
  height:64px;
  font-size:32px;
}
#u129 {
  position:absolute;
  left:2px;
  top:24px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u130 {
  position:absolute;
  left:1397px;
  top:1002px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#pre-button {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display: none;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
}
#u133 {
  position:absolute;
  left:406px;
  top:988px;
  width:230px;
  height:64px;
  font-size:32px;
}
#u134 {
  position:absolute;
  left:2px;
  top:24px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u135 {
  position:absolute;
  left:473px;
  top:1002px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#st {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:78px;
}
#u138 {
  position:absolute;
  left:820px;
  top:568px;
  width:280px;
  height:78px;
  font-size:32px;
}
#u139 {
  position:absolute;
  left:2px;
  top:31px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u140 {
  position:absolute;
  left:896px;
  top:589px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#tip {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display: none;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:58px;
}
#u144 {
  position:absolute;
  left:1624px;
  top:902px;
  width:230px;
  height:58px;
  font-size:32px;
}
#u145 {
  position:absolute;
  left:2px;
  top:21px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u146 {
  position:absolute;
  left:1691px;
  top:917px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#link2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display: none;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:58px;
}
#u149 {
  position:absolute;
  left:1624px;
  top:981px;
  width:230px;
  height:58px;
  font-size:32px;
}
#u150 {
  position:absolute;
  left:2px;
  top:21px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u151 {
  position:absolute;
  left:1703px;
  top:996px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#museum {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display: none;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:58px;
}
#u154 {
  position:absolute;
  left:1624px;
  top:822px;
  width:230px;
  height:58px;
  font-size:32px;
}
#u155 {
  position:absolute;
  left:2px;
  top:21px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u156 {
  position:absolute;
  left:1677px;
  top:836px;
  width:121px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#letter {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display: none;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:58px;
}
#u160 {
  position:absolute;
  left:1624px;
  top:902px;
  width:230px;
  height:58px;
  font-size:32px;
}
#u161 {
  position:absolute;
  left:2px;
  top:21px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u162 {
  position:absolute;
  left:1691px;
  top:917px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#link1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display: none;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:58px;
}
#u165 {
  position:absolute;
  left:1624px;
  top:981px;
  width:230px;
  height:58px;
  font-size:32px;
}
#u166 {
  position:absolute;
  left:2px;
  top:21px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u167 {
  position:absolute;
  left:1703px;
  top:996px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#show {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display: none;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:58px;
}
#u171 {
  position:absolute;
  left:1624px;
  top:902px;
  width:230px;
  height:58px;
  font-size:32px;
}
#u172 {
  position:absolute;
  left:2px;
  top:21px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u173 {
  position:absolute;
  left:1715px;
  top:916px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#textbox1 {
  background-image: url("/images/示儿/u176.png");
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-size:3.2vw;
  text-align:center;
  border: none;
  font-family: 'simfang';
  font-weight: bold;
  position:absolute;
  left:350px;
  top:573px;
  width:203px;
  height:73px;
  display: none;
}
#u177 {
  position:absolute;
  left:2px;
  top:28px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#sub1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display: none;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#u179 {
  position:absolute;
  left:595px;
  top:573px;
  width:203px;
  height:73px;
}
#u180 {
  position:absolute;
  left:2px;
  top:28px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u181 {
  position:absolute;
  left:618px;
  top:584px;
  width:158px;
  height:51px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u182 {
  position:absolute;
  left:0px;
  top:-6px;
  width:158px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#textbox2 {
  background-image: url("/images/示儿/u176.png");
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-size:3.2vw;
  text-align:center;
  border: none;
  font-family: 'simfang';
  font-weight: bold;
  position:absolute;
  left:350px;
  top:573px;
  width:203px;
  height:73px;
  display: none;
}
#u185 {
  position:absolute;
  left:2px;
  top:28px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#sub2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display: none;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#u187 {
  position:absolute;
  left:595px;
  top:573px;
  width:203px;
  height:73px;
}
#u188 {
  position:absolute;
  left:2px;
  top:28px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u189 {
  position:absolute;
  left:618px;
  top:584px;
  width:158px;
  height:51px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u190 {
  position:absolute;
  left:0px;
  top:-6px;
  width:158px;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:514px;
}
#popup {
  position:absolute;
  left:615px;
  top:291px;
  width:906px;
  height:513px;
  display: none;
}
#u192 {
  position:absolute;
  left:2px;
  top:248px;
  width:902px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:344px;
}
#wrong {
  position:absolute;
  left:801px;
  top:368px;
  width:318px;
  height:343px;
  display: none;
}
#u194 {
  position:absolute;
  left:2px;
  top:164px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:344px;
}
#right {
  position:absolute;
  left:801px;
  top:368px;
  width:318px;
  height:343px;
  display: none;
}
#u196 {
  position:absolute;
  left:2px;
  top:164px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
video {
  width: 100%;
  height: 100%;
}
#animation-container {
  z-index:0;
  float:right;
  width: calc(100vh * 16/9);
  height: 100%;
  position: relative;
  overflow: hidden;
}